body {
    padding: 0%;
    margin: 0%;
    font-family: "Roboto", sans-serif;

}

html {
    scroll-behavior: smooth;
}

/* ---------------------Navbar Styling-------------------- */
.navbar_container {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    caret-color: transparent;
    background: #03045E;
    z-index: 1;
    opacity: 0.8;
    position: fixed;
}

.nav_logo {
    height: 100%;
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: start;
}



.menu_list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
    width: 60%;
    gap: 60px;
    margin-left: 0px;

}

.menu_list li {
    text-align: center;
    height: 30px;
    width: 15%;
    display: block;
    align-content: center;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: .8s;
    
}

.menu_list li:hover{
    text-decoration: underline;

}


.menu_icons {
    display: none;
}

.menu_tab {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    caret-color: transparent;
}

.brightness_icon {
    width: 15%;
    height: 80%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


@media (max-width: 1000px) {
    .navbar_container {
        height: 6vh;
        opacity: 1;
    }

    .menu_list {
        position: fixed;
        background-color: #0077B6;
        top: 6vh;
        right: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        margin: 0px;
        padding: 0px;
        transition: ease-in-out .8s;
        z-index: 99999;

    }



    .menu_icons {
        display: flex;
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .showicon {
        color: white;

    }

    .hideicon {
        display: none;
        color: white;

    }

    .active {
        right: 0%;
    }

    .active .showicon {
        display: none;
    }

    .active .hideicon {
        display: inline-block;
        transition: .8s;
    }

    .nav_logo {
        height: 83%;
        width: 63%;
    }

    .menu_list li {
        height: 40px;
        width: 100%;
        font-size: 25px;
        width: 100%;
        padding: 0%;


    }

    .imgs {
        height: 100%;
        width: 19%;
    }
}

/*---------------Homepage Styling------------------ */

.Homepage_container {
    height: 100vh;
    width: 100%;
    background-color: #0077B6;
    display: flex;
    justify-content: center;
    align-items: center;
    caret-color: transparent;

}

.home_Content_Slider {
    width: 40%;
    height: 80%;

}

.home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.home_content .heading_one {
    color: white;
    font-size: 25px;
    margin: 0px;
    padding: 0%;
    width: 90%;
    height: 30px;
    /* border: 1px solid red; */
    font-weight: 900;
    margin-bottom: 10px;
    align-content: center;
}

.username {
    margin-bottom: 10px;
    width: 90%;
    height: 60px;
    /* border: 1px solid red; */
    font-size: 50px;
    color: white;
    font-weight: 900;
    align-content: center;
}

.heading_two {
    margin: 0px;
    color: white;
    width: 90%;
    height: 30px;
    align-content: center;
    /* border: 1px solid red; */
}

.heading_two span {
    color: blue;
    /* border: 1px solid red; */
}

.short_description {
    width: 90%;
    height: 80px;
    color: white;
    /* border: 1px solid red; */
    align-content: center;
}

.social_icons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    height: 10%;
    width: 90%;
    /* border: 1px solid red; */
}

.social_icons a {
    font-size: 30px;
    border: 2px solid white;
    align-content: center;
    color: blue;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: ease-in-out .5s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.social_icons a:hover {
    background-color: #bec1c2;
}

.CV_download {
    height: 40px;
    width: 90%;
    justify-content: start;
    display: flex;
    align-content: center;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.CV_download button {
    height: 95%;
    width: 140px;
    font-size: 16px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: .8s;
}

.CV_download button:hover {
    background-color: #03045E;
}

.hero_image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.hero_image_Slider {
    width: 33%;
    height: 80%;

}

.hero {
    height: 360px;
    width: 360px;
    /* border: 1px solid black; */
    background-image: url(./images/hero.jpg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
}


@media (max-width: 1000px) {
    .Homepage_container {
        flex-direction: column-reverse;
        gap: 0px;

    }

    .home_Content_Slider {
        width: 90%;
        height: 55%;
    }

    .home_content {
        justify-content: start;
    }

    .home_content .heading_one {
        font-size: 25px;
        width: 100%;
        text-align: center;

    }

    .username {
        width: 100%;
        font-size: 39px;
        text-align: center;
    }

    .short_description {
        width: 100%;

    }

    .heading_two {
        width: 100%;
        height: 60px;

    }

    .social_icons {
        justify-content: space-around;
        height: 15%;
        width: 100%;
    }


    .CV_download {
        width: 100%;
    }




    .hero_image_Slider {
        width: 90%;
        height: 40%;

    }

    .hero {
        height: 240px;
        width: 240px;

    }

}

/* ------------------------------------------------AboutMe style-------------------------------- */



.AboutMe_container {
    min-height: 700px;
    height: auto;
    width: 100%;
    background-color: #00509d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    caret-color: transparent;
}

.aboutme_slider{
    width: 30%;
    height: 550px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;

}
.Education_details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Skills_details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills_heading, .education_heading,.experience_heading{
    height: 15%;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills_heading,.experience_heading,.education_heading,h4,h2{
    margin: 0%;
    padding: 0%;
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid black; */
}

.skillimg{
    height: 35px;
    width: 35px;
    border: 2px solid rgb(248, 239, 239);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: ease-in-out .5s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
    cursor: pointer;
}
.skillimg:hover{
    background-color: #0c2bd8;
}
.skills_list{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.skill_image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.skill_image p{
   
    align-content: center;
}
.skillbox{
    width: 30%;
    height: 35%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #0f3549;
    color: white;
    opacity: .8;
    transition: .5s;
    cursor: pointer;
    
}

.skillbox:hover{
    opacity: 1;
    transform: scale(1.1);
}
.skill_name{
    font-size: 15px;
}
.Experience_details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width: 1000px){
    .AboutMe_container {
       
      justify-content: space-around;
        flex-direction: column;
        gap: 20px;
    }
    .aboutme_slider{
        width: 90%;
        height: 460px;
        border: 1px solid black;
    
    }
    .skill_image{
        font-size: 16px;
    }

    .skill_name{
        font-size: 13px;
    }

    .skillbox{
        width: 30%;
        height: 35%;
      
    }
}



/* ------------------------------------------------Contactme style-------------------------------- */

.Contactpage_Container {
    height: 100vh;
    width: 100%;
    background-color: #064789;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactform_location {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.Contactform_slider {
    height: 80%;
    width: 55%;
}

.Contactdetails_slider {
    height: 80%;
    width: 55%;
}

.contact_details {
    height: 100%;
    border: 1px solid black;
    width: 100%;
}

.location_map {
    width: 46%;
    height: 35%;
    /* border: 1px solid black; */
    caret-color: transparent;
}

.Contact_form {
    width: 60%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.Contact_form form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    align-items: center;
    text-align: left;
}

.Contact_form input {
    text-align: left;
    width: 350px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    /* border: 1px solid black; */
}

.Contact_form textarea {
    width: 350px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    resize: none;
}

.form_heading {
    margin: 0px;
    padding: 0%;
    color: white;
    text-align: center;
    caret-color: transparent;
}



.contactform_btn {
    height: 45px;
    width: 350px;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: large;
    cursor: pointer;
    border: none;
    caret-color: transparent;
}

.contactform_btn:hover {


    background-color: rgb(56, 56, 243);

}



@media(max-width: 800px) {

    .Contactpage_Container {
        flex-direction: column;
    }

    .location_map {
        display: none;
    }

    .Contactdetails_slider {
        width: 85%;
    }

    .Contactform_slider {
        width: 85%;
    }

    .contactform_btn {
        height: 35px;
        width: 260px;

    }

    .Contact_form {
        width: 100%;
        height: 350px;

    }

    .Contact_form form {
        width: 50%;
    }

    .Contact_form input {
        text-align: left;
        width: 260px;
    }

    .Contact_form textarea {
        width: 260px;
    }
}



















.mywork_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    width: 100%;

    background-color: #00296b;
    /* border: 1px solid red; */
}


/* --------projectCard styling------------- */




.mywork_heading {
    height: 140px;
    width: 90%;
    color: white;
    /* border: 1px solid red; */
}

.mywork_heading p {
    /* border: 1px solid red; */
    text-align: center;
    font-size: 25px;

}

.cardslist {
    min-height: 450px;
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    overflow-y: auto;
    overflow-x: hidden;
    color: rgb(226, 217, 217);
}

.cardslist::-webkit-scrollbar{
    height: 0px;
}
.card {
    height: 400px;
    width: 290px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
    caret-color: transparent;
    background-color: #101d42;

}

.card_img {
    height: 50%;
    width: 95%;
    border: 1px solid rgb(18, 17, 17);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_info {
    height: 45%;
    width: 95%;
    border: 1px solid rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    /* border: 1px solid red; */

}

.card_btn a {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    text-decoration: none;


}

.headingpart {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    margin-bottom: 5px;

}

.project_name {
    margin: 0px;
    padding: 0px;
    width: 60%;

}

.lang_tag {
    width: 35%;
    /* border: 1px solid red; */
    text-align: center;
    border-radius: 10px;
    background-color: #0077B6;
    color: white;

}

.project_description {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 50%;
    font-size: 12px;
    overflow-y: auto;
    padding-left: 10px;
    text-align: justify;
}

.project_description::-webkit-scrollbar {
    height: 0px;
}

.card_btn a button {
    width: 80%;
    font-size: 13px;
    font-weight: 200;
    height: 100%;
    background-color: rgb(2, 43, 2);
    border: none;
    color: white;
    cursor: pointer;
    transition: ease-in-out .6s;
}

.card_btn a button:hover {
    background-color: #03045E;
}


@media(max-width: 1000px) {
    .card {
        height: 400px;
        width: 300px;

    }

    .card_btn a {
        height: 100%;
        width: 50%;


    }
    .cardslist::-webkit-scrollbar{
        height: 0px;
    }

    .project_description {
        font-size: 14px;
    }
}



.mywork_container img {
    height: 200px;
    width: 200px;
}

/* -----------Footer style------------- */

.footer {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    caret-color: transparent;
    background-color: #14213d;
}

.footer_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    gap: 5px;


}

.footer_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #03045E;
    border-radius: 50%;

}

.footer_content {
    font-size: 20px;
    color: white;
}